---
layout: default
title: Contact
suppress_header: true
---

<div class="contact">
  <div class="container">
    <div class="row">

      <div class="col-sm-4 col-md-4">
        <a href="https://about.gitlab.com/getting-help/"><img src="/images/icons/about_us.png" id="about">
        <h2>Getting Help</h2></a>
        <a href="https://about.gitlab.com/getting-help/">Getting Help</a>
        <br />
        <p>We have several resources available such as documentation, FAQs, forums, and Issue Trackers to help you with GitLab.</p>
      </div>

      <div class="col-sm-4 col-md-4">
        <a href="/sales"><img src="/images/icons/contact_us.png" id="email"></a>
        <a href="/sales"><h2>Contact Sales</h2></a>
        <br />
        <p>Contact our sales team for any questions about GitLab Enterprise
          Edition. If you have any marketing or PR inquiries, please email
          <a href="mailto:community@gitlab.com">community@gitlab.com</a>.</p>
      </div>

      <div class="col-sm-4 col-md-4">
        <a href="https://twitter.com/gitlab"><img src="/images/icons/twitter.png" id="twitter">
        <h2>Twitter</h2></a>
        <a href="https://twitter.com/gitlab">@gitlab</a>
        <br>
        <a href="https://twitter.com/gitlab" class="twitter-follow-button" data-show-count="false">Follow @gitlab</a>
        <br />
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <p>Follow us on twitter for the most detailed and up to date information about GitLab.</p>
      </div>
    </div>

    <div class="row">

      <div class="col-sm-4 col-md-4">
        <img src="/images/icons/news.png" id="newsletter">
        <h2>Newsletter</h2>

        <script src="//app-ab13.marketo.com/js/forms2/js/forms2.min.js"></script>
        <form id="mktoForm_1073"></form>
        <script>MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1073);</script>

        <p class="newsletter-afterword">
          If you subscribe, you will receive all blog posts via email, including
          all security and release announcements.
        </p>
      </div>

      <div class="col-sm-4 col-md-4">
        <a href="https://about.gitlab.com/visiting/"><img src="/images/icons/office.png" id="office"></a>
        <h2>Visit our Office</h2>
        <a href="https://about.gitlab.com/visiting/">Visiting our Office</a>
        <p>Information about visiting our office in San Francisco, California.</p>
      </div>

            <div class="col-sm-4 col-md-4">
        <a href="/disclosure/"><img src="/images/icons/security.png" id="security">
        <h2>Security</h2></a>
        <p>If you want to test the security of GitLab or if you think you have found a problem please see our <a href="/disclosure/">Responsible Disclosure Policy</a>.</p>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-4 col-md-4">
        <a href="https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/CONTRIBUTING.md"><img src="/images/icons/website.png" id="website">
        <h2>Website</h2></a>
        <p>This website is created from a public repository. If you see a potential improvement please <a href="https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/CONTRIBUTING.md">contribute to this website</a>.</p>
      </div>
    </div>
  </div>
</div>

<link href="/stylesheets/contact.css" rel="stylesheet">
